absl-py
astunparse
blinker
cachetools
certifi
charset-normalizer
click
colorama
Flask
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib_metadata
itsdangerous
Jinja2
keras
libclang
Markdown
MarkupSafe
numpy
oauthlib
opt-einsum
packaging
pandas
protobuf
pyasn1
pyasn1_modules
python-dateutil
pytz
requests
requests-oauthlib
rsa
six
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-hub
tensorflow-intel
termcolor
tf-keras
typing_extensions
tzdata
urllib3
Werkzeug
wrapt
zipp